body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: white; /* Menambahkan latar belakang warna putih */
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.status-selesai {
  color: green;
}

.status-belum {
  color: red;
}

  @media (min-width: 768px) {

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  color: black;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: white; /* Menambahkan latar belakang warna putih */
}

th {
  background-color: #f2f2f2;
}

button {
  padding: 5px 10px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}

.status-selesai {
  color: green;
}

.status-belum {
  color: red;
}

}